{% capture lookbook_page_handle %}lookbook-{{ collection.handle }}{% endcapture %}

{% paginate collection.products by 12 %}
  <header role="banner">
    <div class="page-header">
      <h1 class="page-header__title">{{ collection.title }}</h1>
      <p class="page-header__subtitle">{{ 'collections.general.collection' | t }}</p>
    </div>
    {% if collection.description != blank %}
      <div class="page-description rte">
        {{ collection.description }}
      </div>
    {% endif %}

    {% unless pages[lookbook_page_handle].empty? %}
      <p class="lookbook-link">
        <a class="lookbook-link__item" href="{{ pages[lookbook_page_handle].url }}">
          {{ pages[lookbook_page_handle].title }}
        </a>
      </p>
    {% endunless %}
  </header>

  <div class="pieces-list">
    {% for product in collection.products %}
      <div class="pieces-list__item">
        {% if product.featured_image != blank %}
          <a class="piece" href="{{ product.url | within: collection }}">
            {{ product.featured_image.src | img_url: '600x' | img_tag: product.featured_image.alt, 'piece__image' }}
            <div class="piece__overlay">
              <div class="piece__overlay-content">
                <p>{{ product.title }}</p>
                <span class="btn">{{ 'products.product.request' | t }}</span>
              </div>
            </div>
          </a>
        {% endif %}
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}
