<footer class="site-footer">

  {%- assign footer_linklist = section.settings.footer_linklist -%}
  {% if linklists[footer_linklist].links.size > 0 %}
    <ul class="site-footer__menu">
      {% for link in linklists[footer_linklist].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {%- assign footer_linklist_two = section.settings.footer_linklist_two -%}
  {% if linklists[footer_linklist_two].links.size > 0 %}
    <ul class="site-footer__menu">
      {% for link in linklists[footer_linklist_two].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if section.settings.footer_newsletter_enable %}
    <div class="site-footer__newsletter">
      {% if section.settings.newsletter_caption != blank %}
        <h4 class="small text-uppercase">{{ section.settings.newsletter_caption }}</h4>
      {% endif %}
      {% include 'newsletter-form' %}
    </div>
  {% endif %}

  <div class="site-footer__copyright">
    {{ shop.name | link_to: '/' }}
    <span>{{ 'now' | date: "%Y" }}</span>
  </div>
</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter sign-up",
        "default": false
      },
      {
        "type": "text",
        "id": "newsletter_caption",
        "label": "Newsletter caption",
        "default": "Sign up for the latest news, offers and styles"
      },
      {
        "type": "text",
        "id": "newsletter_form_action",
        "label": "MailChimp form action URL",
        "info": "[Find your MailChimp form action URL](https:\/\/docs.shopify.com\/manual\/configuration\/store-customization\/communicating-with-customers\/accounts-and-newsletters\/get-a-mailchimp-form-action-url)."
      }
    ]
  }

{% endschema %}
