<style>
  {% if section.settings.logo != blank %}
    .site-logo--image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
</style>
<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header id="SiteHeader" role="banner" class="site-header">
    <a href="#" class="site-header__icon site-header__icon--toggle-nav">
      {% include 'icon-hamburger' %}
      <span class="icon-fallback-text">{{ 'layout.cart.title' | t }}</span>
    </a>

    {% if template.name == 'index' %}
      <h1 class="site-header__brand" itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="site-header__brand" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
        <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-logo--image{% endif %}">
          {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 class="site-logo__image"
                 itemprop="logo">
            {% if section.settings.logo_alt != blank %}
            <img src="{{ section.settings.logo_alt | img_url: '23x' }}"
                 class="site-logo__image--alt"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo">
            {% endif %}
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}

    <nav class="site-header__nav" role="navigation">
      {% include 'site-nav' %}
    </nav>

    <a class="site-header__icon site-header__icon--cart" href="/cart">
      {% include 'icon-cart' %}
      <span class="icon-fallback-text">{{ 'layout.cart.title' | t }}</span>
    </a>

  </header>

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo_alt",
        "label": "Logo alt"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "230"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
